.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 230px;
  padding: 5px;

  font-size: 14px;

  background-color: rgba(177, 177, 177, 0.37);
  border: 2px solid #b6b5b5;
  border-radius: 10px;
}
